.contucs_and_img{
    background: url(./../images/niko_img.jpg) no-repeat;
    background-size: cover;
    min-height: 90vh;
    margin: 5vh 0;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.imageContainInfo{
    display: flex;
    flex-direction: column;
    align-items:center;
    .my_proffesion {
        color: #00ab72;
    }
    .soc_links {
        display: flex;
        margin: 1rem 0;
        &_link {
            margin: 0.5rem;
            font-size: 20px;
            color: #fff;
        }
    }
}

